*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
    width: 100vw;
    color: white;
    border: 3px solid whitesmoke;
}
.container{
    height: 300vh;
    width: 100%;
    color: white;
}
header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 196, 196);
    padding: 30px 75px;
    color: black;
    background-color:whitesmoke;
}
h1{
    font-size: x-large;
    font-weight: bolder;
    color: rgba(182, 23, 213, 0.729);
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  
}
span{
    color: rgb(38, 103, 144);
}
.nav{
    height: 550px;
    width: 100%;
    display: flex;
}
.ig{
    height: 240%;
    width: 25%;
    background-color: whitesmoke;
}
.sdq, .sdq_1{
    width: 100%;
    height: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    color: black;
    padding-left: 70px;
}
.sdq p, .sdq_1 p{
    padding: 10px;
}
.sdq_1{
    width: 320px;
    background-color: rgb(38, 103, 144);
    color: white;
}
.hero{
    font-weight: lighter;
    height: 300px;
    width: 100%;
    padding-top: 10px;
    padding-left: 25px;
    color: rgb(38, 103, 144);
}
form{
    width: 600px; 
    margin-left: 30px;  
}
form label{
    width: 100%;
    height: 30px;
    display: inline-block;
    padding-top: 30px;
    color: rgb(50, 49, 49);
}

form input{
    width: 80%;
    height: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
    color:  rgba(0, 0, 0, 0.999);
    font-size: larger;
    margin-top: 15px;
    border-radius: 7px;
    padding-left: 40px;
    border: 1px solid black;
}
.f2, .f3 , .f5{
    width: 60%;
}
.f4, .f6{
    width:70%;
}
.f1{
    width:50% ;
}
button{
    height:60px ;
    width:200px ;
    background-color: rgb(68, 164, 212);
   border-radius: 7px;
   color: #ebe3e3;
   margin-top: 100px;
   margin-right: 80px;
   font-weight: bold;
   text-align: center;
   justify-content: center;
   border: 1px;
   float: inline-end;
}
.ft{
    margin-bottom: 50px;
    display: flex;
    color: red;
  font-size: larger;
  font-weight: 200;
  padding-left: 50px;
 
}
.os{
    margin-top: 28px;
 
}
