*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    color: white;
    border: 3px solid whitesmoke;
}
.container{
    height: 70vh;
    width: 100%;
    color: white;
}
header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 196, 196);
    padding: 30px 75px;
    color: black;
    background-color:whitesmoke;
}
h1{
    font-size: x-large;
    font-weight: bolder;
    color: rgba(182, 23, 213, 0.729);
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  
}
span{
    color: rgb(38, 103, 144);
}
.nav{
    height: 500px;
    width: 100%;
    display: flex;
}
.ig{
    height: 600px;
    width: 25%;
    background-color: whitesmoke;
}
.sdq, .sdq_1{
    width: 100%;
    height: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    color: black;
    padding-left: 70px;
}
.sdq p, .sdq_1 p{
    padding: 10px;
}
.sdq_1{
    width: 365px;
    background-color: rgb(38, 103, 144);
    color: white;
}
.hero{
    background-color: white;
    font-weight: lighter;
    font-size: larger;
    height: 300px;
    width: 60%;
    padding-top: 180px;
    padding-left: 150px;
    color:rgb(38, 103, 144);
    text-align: center;
   align-items: center;
    
}
.ft{
    margin-bottom: 50px;
    display: flex;
    color: red;
  font-size: larger;
  font-weight: 200;
  padding-left: 50px;
 
}
.os{
    margin-top: 28px;
 
}
